body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h3 {
    font-family: inherit;
}

button.btn-outline-primary {
    border-color: blue;
    color: blue;
    background-color: white;
}

button.btn-outline-danger {
    border-color: red;
    color: red;
    background-color: white;
}