button.btn-outline-danger {
    background-color: #BD1616;
    border-color: #BD1616;
    color: white;
    margin-right: 10px;
}

th.top {
    background-color: #BD1616;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}
